body{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(homebg.jpg);
    background-size: 100% 300%;
    background-repeat: no-repeat;
    margin: 0px;
}
.card-header{
    display:flex;
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
    height: 180px;
}
.card-header img{
border: 2px groove rgb(3, 3, 28);
border-radius: 100%;
margin:30px;
}
.card-header .p1{
    vertical-align: bottom;
    padding-top: 50px;
    width: 600px;
}
.card-header a{
    padding-right: 40px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(248, 245, 245);
}
.card-header .p2 {
    padding-bottom: 90px; 
    width: 720px;
    padding-top: 25px;
    vertical-align: middle;
    margin-top: 0px;
}
.card-body{
    height: 350px;
    width: 250px;
    display:flexboxn;
    padding-left: 50px;
    margin-left: 10px;
    border: 2px solid black;
}
.inner_div{
    width: 300px;
    height: 250px;
    margin-right: 55px;
    background-color:rgba(244, 241, 241, 0);
    margin-top: 45px;
    margin-bottom: 25px;
}
figure img{
     margin: 0px 10px;
}
figure{
    font-size: 16px;
    font-weight: 900px;
    line-height: 20px;
    text-align: center;
    color: rgb(182, 233, 233);
    text-shadow: 2px 2px 5px black;
}
